.pad30 {
  padding: 30px !important;
}

.pad25 {
  padding: 25px !important;
}

div span {
  padding: 10px;
}

.floatRight {
  float: right;
}

.pad0 {
  padding: 0px !important;
}

.marg5 {
  margin: 5px;
}

.margBottom20 {
  margin-bottom: 20px;
}
